.conteiner{
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    display: grid;
}
/* header */


header{
    display: flex;
    
    align-items: center;
    justify-content: space-between;
    padding: 43px;
}

.search{
    width: 25%;
    height: 53px;
    background-color: #DDDDDD;
    font-family: 'Montserrat', sans-serif;
    border-radius: 40px;
    display: flex;
    align-items: center;
    color: #8E8E8E;
    gap: 10px;
}


.search h4{
   font-size: 24px;
   font-weight: 400;
   font-family: 'Montserrat', sans-serif;
}



.creat{
    width: 11%;
    height: 53px;
    background-color: #008EEA;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 24px;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
}

.creat a{
    color: white;
}

nav{
    display: flex;
    gap: 34px;
}

.navIcon{
    width: 30px;
    height: 30px;
    
}


            /* Aside */

  .aside{
    padding-left: 25px;
    
  }     
  
  .sideBar{
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

.home{
    width: 15%;
    height: 53px;
    background-color: #008EEA;
    border-radius: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    font-family: 'Montserrat', sans-serif;
}

.products{
    display: flex;
    align-items: center;
    width: 15%;
    height: 53px;
    justify-content: space-between;
    color: #8E8E8E;
    font-family: 'Montserrat', sans-serif;
}

.costumers{
    display: flex;
    align-items: center;
    width: 15%;
    height: 53px;
    justify-content: space-between;
    color: #8E8E8E;
    font-family: 'Montserrat', sans-serif;
}

.shop{
    display: flex;
    align-items: center;
    width: 15%;
    height: 53px;
    justify-content: space-between;
    color: #8E8E8E;
    font-family: 'Montserrat', sans-serif;

}

.income{
    display: flex;
    align-items: center;
    width: 15%;
    height: 53px;
    justify-content: space-between;
    color: #8E8E8E;
    font-family: 'Montserrat', sans-serif;
}


.promotes{
    display: flex;
    align-items: center;
    width: 15%;
    height: 53px;
    justify-content: space-between;
    color: #8E8E8E;
    font-family: 'Montserrat', sans-serif;
}

    /* Aside Help Bar */
.helpBar{
    padding-top: 260px;
    display: flex;
    flex-direction: column;
    width: 237px;
    height: 134px;
    gap: 15px;
}

.settings a{
    display: flex;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 500;
    color: #8E8E8E;
}

.help {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;

}

.help a{
    color: #8E8E8E;
}



.logOut{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;

}


.logOut a{
    color: #8E8E8E;
}



                /* MainBar */



.mainbar{
    display: grid;
    justify-content: space-between;
    margin-left: 360px;
    
    background-color: #F5F5F5;
    
    margin: 0 auto;
    grid-template-columns: 299px 318px;
    grid-template-rows: 334px 198px;
    gap: 31px;


/* sxvanairad ver chavsvi, vici ro arasworad weria dzalian :D */

    margin-left: 360px;
    margin-top: -650px;

}





/* bodishi mxolod am seqciis gastilva movaxerxe da movaswari :)  */

.photo2{
    grid-column-start: 3;
}

.photo3{
    grid-column-start: 1;
}

.photo4{
    grid-column-start: 2;
}

.photo5{
    grid-column-start: 3;
}
